html {
    background-color: #FB93DA;
    color: #404082;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    scroll-behavior: smooth;
}